{% extends "movies/base.html" %}
{% load tracking_tags %}
{% load flaggit_tags %}
{% load hitcount_tags %}

{% block title %}Home Page{% endblock %}

{% block extra_head %}

{% endblock %}


{% block content %}
<div class="page" itemscope="" itemtype="">     
    <div class="row-fluid">

    {% if video_in_iframe %}

        <div class="movie-info span12">
        <iframe height="700px" frameborder="0" scrolling="no" width="100%" style="width: 100%; height: 700px;"  allowfullscreen src='{{video_in_iframe.link}}'></iframe>
	    </div>

    {% else %}

    <!--    show image start-->
        <div class="movie-cover span2">
            <img src="{{ movie.photo.imagelink }}" alt="{{movie.title}} Movie image" class="img-polaroid">
        </div>
    <!--    show image end-->

        <div class="movie-info span10">
            <div class="movie-details span9">
                <div class="row" style="margin-left: 0px;">
                    <div class="span7" itemprop="name"><h2 class="pull-left" itemprop="name">{{movie.title}}</h2></div>
                        <div class="span4 .offset2">
                            <div class="pull-right" itemprop="aggregateRating" itemscope="" itemtype="">
		                        <div class="star" style="cursor: default; width: 200px;">
                                    {% for rating in "0123456789" %}
                                        {% if movie.imdb_rating >= rating %}
                <img src="{{ STATIC_URL }}img/star-on.png" alt="{{forloop.counter}}" title="{{forloop.counter}}">
                                        {% else %}
                <img src="{{ STATIC_URL }}img/star-off.png" alt="{{forloop.counter}}" title="{{forloop.counter}}">
                                        {% endif %}
                                    {% endfor %}
		                        </div>
	                        </div>
			            </div>
				        <div class="clearfix"></div>



                        <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="sidebar"><button class="btn btn-inverse btn-mini btn-block disabled" type="button">{{ movie.imdb_rating }}/10</button></td>
                            <td class="sidebar"><a href="{% url 'movies' %}?year={{movie.year}}">{{movie.year}}</a></td>
{% comment %}
                            <td class="sidebar">
{% visitors_on_page as same_page %}
{{ same_page }} of {{ visitors }} Active viewer{{ visitors|pluralize }}

</td>
{% endcomment %}
                            <td class="sidebar"> Total views {% get_hit_count for movie %}  </td>
                            <td class="sideleft"> 
                            {% for genre in movie.genere.all %} 
                                <a itemprop="Genre" href="{% url 'movies' %}?genre={{genre}}">{{genre}}</a>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="sideleft" colspan="4"><p class="description" itemprop="description">{{movie.plot}}</p></td>
                        </tr>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="sideleft"><strong>Actors:</strong> </td>
                            <td class="sideleft" colspan="3" itemprop="actor">
                            {% for actor in movie.actors.all %}
                                <a href="{% url 'movies' %}?actor={{actor}}" itemprop="name">{{actor}}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="sideleft"><strong>Directors:</strong> </td>
                            <td class="sideleft" colspan="3" itemprop="director">
                                <a href="{% url 'movies' %}?director={{movie.director}}" itemprop="director">{{movie.director}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sideleft"><strong>Country:</strong> </td>
                            <td class="sideleft" colspan="3"><a href="#">USA</a></td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
			    </div>
		    </div>
{% endif %}

<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Links</a></li>
        <li><a href="#tab2" data-toggle="tab">Comments</a></li>
    </ul>
    <div class="tab-content">


<div class="tab-pane active" id="tab1">
<table id="streamlinks" class="table table-hover table-striped sort-table">
				  <thead>
					<tr class="headersRow">
					  <th>Source</th>
					  <th class="greyefecct">Language</th>
					  <th>Age</th>
					  <th class="greyefecct">Report Link</th>
					  <th>Votes</th>
					</tr>
				  </thead>
				  <tbody>

{% for obj in links %}
<tr id="pt0" class=" hoplayedto quaCam langEnglish">
<td class="sideleft">

<form method="post" action="{% url 'detail' movie.title|slugify movie.id %}">
{% csrf_token %}

<div class="hidden">;
    <input type="hidden" name="object_id" value="{{ obj.id }}" />
</div>

{% if obj.iframe_available %}
<input id="submitlink" type="submit" value="{{obj.name}}" />
{% endif %}

<a rel="nofollow" target="_blank" href="{{obj.link}}">direct link</a>

</form>

</td>
<td><img data-original-title="English" rel="tooltip" src="{{ STATIC_URL }}img/English.gif"></td>
<td>{{ obj.date_added|timesince }} old</td>

<td>

<form method="post" action="{% url 'flaggit' %}">
{% csrf_token %}

<div class="hidden">;
    <input type="hidden" name="content_type" value="{{ content_type.id }}" />
    <input type="hidden" name="object_id" value="{{ obj.id }}" />
</div>

<input type="submit" value="Report Link" />
</form>


</td>

<td>

<a href="{% url 'vote_movie' obj.id +1 %}" data-toggle="modal" class="btn btn-small green">
    <img src="{{ STATIC_URL }}img/vote_up.png"/>
    <span>{{obj.total_upvotes}}</span>
</a>
<a href="{% url 'vote_movie' obj.id -1 %}" data-toggle="modal" class="btn btn-small red">
<img src="{{ STATIC_URL }}img/vote_down.png"/>
<span>{{obj.total_downvotes}}</span>
</a>					

</td>
</tr>
{% endfor %}
					<tr class="showmore">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><i class="icon-plus"></i> <span id="loadmore">Show More</span></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				  </tbody>
				</table>
</div>


<div class="tab-pane" id="tab2">
    <div class="fb-comments" data-href="https://localhost:8000/movie/watch-the-departed-online/574/" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
</div>


</div>


        </div> 
    </div> 
</div> 
{% endblock %}

{% block left_side_bar %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
$(document).ready(function() {
{% get_hit_count_javascript for movie %}
});
</script>
{% endblock %}
